
{{user$| json}}

<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone" formControlName="phone">
  </mat-form-field>
  <div formGroupName="name">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName="firstname">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" formControlName="lastname">
    </mat-form-field>
  </div>
  <div formGroupName="address">
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Street" formControlName="street">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Number" formControlName="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Zip code" formControlName="zipcode">
    </mat-form-field>
    <div formGroupName="geolocation">
      <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Latitude" formControlName="lat">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Longitude" formControlName="long">
      </mat-form-field>
    </div>
  </div>
<span [routerLink]="'/login'">Login</span>
</form>
